/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color:#717171;
}
body{  
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
/* line under menu */
.line::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;  
    background: linear-gradient(to right, #fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all .5s;
}
.line:hover::after{
    width: 100%;
}
.line.active::after{
    width: 100%;
}
.section{
    padding: 80px 0;
}
.title{
    color:#ec7532;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-bottom: 1px solid #71717131;
    margin-bottom: 40px;
    padding: 20px 0;
    position: relative;
}
/* .title::after{
    content: '';
    display: block;
    width: 128px;
    height: 4px;
    top: 93%;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
} */
/* MAIN CSS */
/* HEADER */
header{
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 15.1%;
}
.container-md{
    width: 1100px;
}
.navbar-toggler:focus{
    outline: 0;
    box-shadow: none;
}
.navbar-toggler-icon .fa-bars{
    color:#fbbd61;
}
.sub-topNav{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    font-weight: 700;
    color:#fff;   
    align-items: baseline;
 
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding: 0;
}
.sub-topNav p{
    border-right: 1px solid #ffffffa6;
    padding-right: 6px;
}
#navbarSupportedContent .navbar-nav .nav-item .nav-link{
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 15px 20px;
    color:#fff; 
}
#navbarSupportedContent .navbar-nav .nav-item{
    border-bottom: 0.8px solid #b6b4b44d;
    
}

#HeaderFixed {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 3;
    padding: 5px;
    transform: translateY(-100%);
    transition: all .4s;
}
#HeaderFixed .container-md{
    width: 1060px;
}
/* CAROUSEL */
.carousel-inner .carousel-caption{
    top: 31%;
    text-align: left;
}
.carousel-caption h5{
    color: #fbbd61;
    font-size: 1rem;
    letter-spacing: 2px;
    animation-delay: .5s;
}
.carousel-caption h4{
    font-size: 3.4rem;
    letter-spacing: 2px;
}
.carousel-item .carousel-caption p{
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}
.carousel__button{
    animation-delay: .5s;
}
.carousel__button>span{
    height: 47px;
    width: 47px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 47px;
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 10px;
}
.carousel__button .btn:hover{
    color: #fff;
}
.carousel__button button{
    padding: 12px 24px;
    font-size: 0.85rem;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #fbbd61, #ec7532);
    border: none;
    border-radius: 30px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.carousel__button button span,
.carousel__button button span i{
    position: relative;
    z-index: 2;
}
.carousel__button button::after{
    content: '';
    display: block;
    width: 106%;
    height: 100%;
    background-color: #ec7532;
    top: 0;
    left: 0;
    position: absolute;
    transform: skewX(25deg) translateX(-115%);
    transition: all .5s;
    z-index: 1;
}
.carousel__button button:hover::after{
    transform:  translateX(-2%) skewX(25deg);
}
#carouselExampleCaptions .carousel-indicators button{
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
}
#carouselExampleCaptions .carousel-indicators button.active{
    background-color: white;
    background-clip: border-box;
}
#carouselExampleCaptions .carousel-indicators {
    justify-content: flex-start;
    margin-bottom: 7rem;
}
#carouselExampleCaptions .carousel-indicators [data-bs-target]{
    opacity: 1;
    box-sizing: border-box;
}
.carousel__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:block;
    background: linear-gradient(to top, black, transparent);
}

/* NEW IN */
.newIn .title::after{
    content: '';
    display: block;
    width: 128px;
    height: 4px;
    top: 93%;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
}
.newIn .newIn__item{
    text-align: center;
}
.newIn__bottom{
    margin-top: 14px;
}
.newIn__bottom p{
    font-size: 1.1rem;
    color: #444343;
}
.newIn__bottom .star{
    color:#fbbd61;
    font-size: 1.1rem;
}
.newIn__img{
    position: relative;
    overflow:hidden;
    border-radius: 10px;
}
.newIn__img .img-fluid{
    width: 312px;
}
.newIn__overlay{
    width: 215%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #fbbd61, #ec7532);
    position: absolute;
    transform: skewX(40deg) translateX(-136%);
    transition: all .6s;
    opacity: 0.9;
}
.newIn__img:hover .newIn__overlay{
    transform: skewX(40deg) translateX(-27%);
}
.newIn__play{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s;
}
.newIn__play a i{
    border: 2px solid white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    color: white;
    transition: all .3s;
}
.Link-ReadMore{
    color: white;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin-top: 16px;
    text-decoration: none;
}
.newIn__play-item:last-child{
    color: white;
    font-size: 1rem;
}
.newIn__img:hover .newIn__play{
    opacity: 1;
}
.newIn__play-item a i:hover{
    transform: scale(0.9)
}

/* SHOWTIME */
.showTime__detail p:nth-child(1){
    font-size: 1rem;
    color: #ec7532;
    letter-spacing: 1px;
    font-weight: 400;
}
.showTime__detail p:nth-child(2){
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height:normal;
}
.showTime__detail p:nth-child(3){
    color: #717171;
    font-size: 1rem;
}
.showTime__detail a
{
    color: #ec7532;
    font-size: 0.75rem;
    letter-spacing: 4px;
    font-weight: 400;
}
.showTime__detail .fa-chevron-right{
    font-size: 0.7rem;
}
.viewTime{
    display: flex;
    align-items: center;
}
.viewTime p:nth-child(1){
    color: rgb(75, 74, 74);
    font-size: 0.75rem;
    letter-spacing: 2px;
}
.viewTime button:nth-child(2){
    border: 1px solid #e9e8e8;
    background-color: #e9e8e8;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 8px 14px;
    letter-spacing: 2px;
    color: #7171719d;
    margin-right: 5px;
}
.viewTime button:nth-child(3),
.viewTime button:nth-child(4),
.viewTime button:nth-child(5){
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 6px 12px;
    letter-spacing: 2px;
    color: #2e2d2d9d;
}
.viewTime button+button{
    margin-right: 5px;
}
.viewTime button:hover{
    color: #444343;
}
.showTime__time .duration p{
    color: rgb(63, 62, 62);
    font-size: 0.76rem;
    letter-spacing: 2px;
    margin-right: 5px;
}
.showTime__time .duration span{
    border: 1px solid #444343;
    border-radius: 100%;
    background-color: #444343;
    color: white;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 11px;
    line-height: 10px;
}
.showTimes .line{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: rgb(54, 54, 54);
}
.showTimes .nav-tabs .nav-item .line::after{
    position: absolute;
    top: 96%;
    left: 0;
    height: 3.4px;
}
.showTimes .nav-tabs{
    outline: none;
}
.showTimes .nav-tabs .nav-item{
    outline: none;
    position: relative;
}
.showTimes .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
    color:#ec7532;
}
.showTimes .nav-tabs .nav-link:focus-visible, 
.nav-tabs .nav-link:hover,
.showTimes .nav-link:focus{
    border: none;
    outline: none;
}
.showTimes .nav-tabs .nav-link{
    margin-bottom: 0;
    border: none;
    
}
.showTimes .nav-link span{
    padding:11px 13px;
    display: block;
}
.showTime__row{
    padding: 52px 0;
    border-bottom: 1px solid #dee2e6;
}
.showTime__row img{
    border-radius: 10px;
}
#myTabContent .tab-pane .showTime__row:last-child{
    border-bottom: none;
}
/* COMINGSOON */
.comingSoon{
    background:#101010 url('../img/slide-3.png'); 
    background-size: cover;
}
.comingSoon .title::after{
    content: '';
    display: block;
    width: 128px;
    height: 4px;
    top: 93%;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
}
.comingSoon .title{
    color: white;
}
.comingSoon__content p:nth-child(1){
    color: #ec7532;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.comingSoon__content p:nth-child(2){
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
}
.comingSoon__content p{
    color: white;
    font-size: 1rem;
}
.comingSoon__calendar{
    margin-bottom: 1.4rem;
}
.comingSoon__calendar .fa-star{
    font-size: 1rem;
    color:#fbbd61;
    margin-right: 2px;
}
.comingSoon__calendar .fa-calendar-alt{
    color: white;
    font-size: 1rem;
    margin: 0 15px;
}
.comingSoon__calendar span{
    color: white;
    font-size: 1rem;
}
.comingSoon__content a{
    color: #ec7532;
    font-size: 0.75rem;
    letter-spacing: 4px;
    transition: all .3s;
}
.comingSoon__content a:hover{
    color: white;
}
.comingSoon__Video{
    position: relative;
}
.comingSoon__Video i{
    position: absolute;
    font-size: 1.8rem;
    color: white;
    top: 37%;
    left: 37%;
    transition: all .4s;
    border-radius: 100%;
    padding: 26px;
    border: 1px solid #ec7532;
}  
.comingSoon__Video i:hover{
    transform: scale(0.85);
}
/* RESPONSIVE */
@media screen and (max-width: 1400px){
     .container{
        max-width: 1132px;
    }
};
    
