/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color:#717171;
}
body{  
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 62.5%;
}
/* line under menu */
.line::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;  
    background: linear-gradient(to right, #fbbd61, #ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: all .5s;
}
.line:hover::after{
    width: 100%;
}
.line.active::after{
    width: 100%;
}
/* MAIN CSS */
/* HEADER */
.sub-topNav{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    font-weight: 700;
    color:#fff;   
    align-items: baseline;
    padding: 20px 0;
}
.sub-topNav p{
    border-right: 1px solid #ffffffa6;
    padding-right: 6px;
}
#navbarSupportedContent .navbar-nav .nav-item .nav-link{
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 15px 20px;
    color:#fff; 
}
#navbarSupportedContent .navbar-nav .nav-item{
    border-bottom: 0.8px solid #b6b4b44d;
    
}

